.newTemplate {
  background-color: blue;
  width: 140px;
  border-radius: 3px;
  margin-left: 45px;
  margin-top:5px;
}

.btn {
color: white;
}

.shadowed {
box-shadow: 5px 5px 5px grey;
margin-top: -5px;
}
.field {
border-style: solid;
border-weight: 1px;
margin: auto;
width: 846px;
height: 846px;
}

.cell {
background-color: black;
opacity: 0;
border-weight: 0px;
margin: 0px;
}
